.About-Me {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  justify-content: center;
  padding: 1%;
}

.About-Paragraph {
  max-width: 35%;
  font-size: calc(.6vw + 9px);
}

.About-Heading {
  font-size: calc(2.5vw + 15px);
}


.About-Section {
  color: white
}

.Tech-Title {
  font-size: 15px;
  margin-top: 10px;
}

.Tech-Icons {
  font-size: 4.5em;
  padding: 10px;
  opacity: 0.93;
  border: 1.7px solid #f05c0c;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px #3d1600;
  overflow: hidden;
  transition: all 0.4s ease 0s;
  padding-bottom: 40px;
  padding-top: 25px;
  width: 10vw;
}

.Tech-Icons svg {
  width: 100px;
  height: 100px;
}



.Tech-Icons:hover {
  transform: scale(1.05);
  overflow: hidden;
  border: 2.2px solid #f05c0c;
}


.Stack-Heading {
  color: white;
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 10px;
  width: 60%;
  margin: auto;
}

.Orange {
  color: #f05c0c;
}

.About-Headshot {
  border-radius: 50%;
  max-width: 18vw;
  max-height: 18vw;
}

.Tech-Stack {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  justify-content: center;
  padding: 1%;
  width: 70%;
  margin: auto;
}


@media (max-width: 750px) {
  .Stack-Heading {
    width: 95%;
    text-align: center;
  }

  .Tech-Stack {
    width: 90%;
  }


}

@media (max-width: 1300px) {
  .About-Headshot {
    visibility: collapse;
    width: 0;
  }
  .About-Heading {
    text-align: center;
  }
  .About-Paragraph {
    max-width: 80%;
  }
}