.Contact-Form {
  padding: 1em;
  max-width: 60%;
  margin: auto;
}



.Social-Card {
  padding: 50px;
  text-decoration: none;
  white-space: nowrap;
}

.Email {
  background-color: rgba(255, 0, 0, 0.507);
}

.Linked-In {
  background-color: #0e76a8;
}

.Git-Hub {
  background-color: purple;
}

.Social-Card:hover {
  background-color: rgb(77, 77, 77);
  transition: 500ms;
}

.Social-Links {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.Contact-Title {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 3%;
  color: white;
}

.Contact-HR{
  color: white;
  margin:1em
}

.Social-Info {
  text-decoration: none;
  color: white;
}

.Contact {
  font-family: "Raleway", sans-serif;
  height: 100%;
  padding-bottom: 25vw;
  padding-top: 10%;
}

.Social-Header {
  font-size: 20px;
}

.Social-Site {
  font-weight: bold;
  font-size: 1vw;
}

.Social-Image {
  float: left;
  margin-right: 1vw;
}

.Social-Card div {
  max-width: 20vw;
}


.Contact-Message {
  background-color: #131313;
  border: #b9b9b9 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  height: 200px;
}

.Contact-Message-Row{
  padding-top: 20px;
  padding-bottom: 20px;
}

.Contact-Email {
  background-color: #131313;
  border: #b9b9b9 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.Contact-Button {
  background-color: #f05c0c;
  border: #f05c0c 1px solid;
  border-radius: 10px;
  height: 50px;
  font-size: 25px;
  color: white;
}

.Contact-Response{
  text-align: center;
  font-size: x-large;
}

.Contact-Thank-You{
  text-align: center;
  font-size: x-large;
  color: #f05c0c;
}

@media (max-width: 1000px) {
  .Social-Links {
    grid-template-columns: auto;
  }

  .Social-Site {
    font-size: 2vw;
  }

  .Contact-Form {
    max-width: 95%;
  }
}
