.Home {
  background-color: white;
  background-image: url(/src/assets/Home-Background.jpg);
  font-family: "Raleway", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 93vh;
  margin-top: 6vh;

}

.Name {
  color: GRAY;
  font-size: calc(2.6vw + 30px);
  font-weight: bold;
}

.JobTitle {
  color: #f05c0c;
  font-size: calc(1.5vw + 20px);
  font-weight: bold;
}

.About {
  padding-top: 1em;
  color: gray;
  font-size: 20px;
  font-size: calc(.4vw + 11px);
  justify-content: center;
  display: flex;
}
.About p {
  max-width: calc(30vw + 100px);
}

.Introduction{
  text-align: center;
  padding-top: 40vh;
}


.Home-Button{
  background-color: #f05c0c;
  border-color: #f05c0c;
  color: white;
  border-radius: 10px;
  padding: 12px;
}
