.Port-Shell {
  background: linear-gradient(to bottom, gray, black);
}

.Portfolio {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.Projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5vw;
  justify-items: center;
  padding: 1%;
  padding-bottom: 20%;
  box-sizing: border-box;
}

.Project-Sorting {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
  margin-top: 1%;
  justify-content: center;
}

.Project-Sorting button {
  color: white;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
}

.Sorting-Button {
  background-color: rgb(141, 56, 13);
  border-color: rgb(141, 56, 13);
}

.Selected-Button {
  background-color: #f05c0c;
  border-color: #f05c0c;
}

@media (max-width: 1500px) {
  .Project-Sorting {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .Project-Sorting {
    display: none;
  }
}

@media (max-width: 1450px) {
  .Projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .Portfolio {
    width: 100%;
  }
}
