.Port-Shell {
  background: linear-gradient(to bottom, gray, black);
}


.Portfolio {
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}


.Projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  justify-content: center;
  padding: 1%;
  padding-bottom: 20%;
  box-sizing: border-box;
}


@media (max-width: 750px) {


  .Portfolio {
    width: 100%;
  }




}